// banner

.main {
    padding-top: 110px;
    padding-bottom: 110px;
    position: relative;
    margin-bottom: 100px;
}

.main__img {
    max-width: 45%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    img {
        max-width: 100%;
    }
}

.main__decoration {
    max-width: 13%;
    position: absolute;
    left: -9px;
    // top: 50%;
    top: 31%;
    // transform: translateY(-50%);
    img {
        max-width: 100%;
    }
}

.main__img--mob {
    display: none;
}

.main__wrapper{ 
    
}

.main__item {
    display: flex;
    align-items: center;
    &:not(:last-child) {
        margin-bottom: 18px;
    }

    .icon {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $viloet-gradiend;
        margin-right: 25px;
        img {

        }
    }

    p {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.4;
    }
}

.main__btn {
    margin-top: 55px;
}

// animation glitch

.glitch {
    position: relative;
    display: inline-block;
}

.glitch::before,
.glitch::after {
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	transition: background 2.7s;
	// -webkit-transition: background .7s;
	// -o-transition: background .7s;
	// -moz-transition: background .7s;
	// -ms-transition: background .7s
}

// .color-dark .glitch::before,
// .color-dark .glitch::after {
// 	background: #18181a
// }

.glitch::before {
	left: 2px;
	text-shadow: -2px 0 #3f43c9;
	clip: rect(24px, 550px, 90px, 0);
	animation: glitch-anim-2 3s infinite linear alternate-reverse
}

.glitch::after {
	left: -2px;
	text-shadow: -2px 0 #f5f4fa;
	clip: rect(85px, 550px, 140px, 0);
	animation: glitch-anim 2.5s infinite linear alternate-reverse
}

@-webkit-keyframes glitch-anim {
	0% {
		clip: rect(46px, 9999px, 125px, 0)
	}
	4.166666666666666% {
		clip: rect(123px, 9999px, 21px, 0)
	}
	8.333333333333332% {
		clip: rect(50px, 9999px, 60px, 0)
	}
	12.5% {
		clip: rect(148px, 9999px, 9px, 0)
	}
	16.666666666666664% {
		clip: rect(55px, 9999px, 125px, 0)
	}
	20.833333333333336% {
		clip: rect(59px, 9999px, 118px, 0)
	}
	25% {
		clip: rect(3px, 9999px, 125px, 0)
	}
	29.166666666666668% {
		clip: rect(20px, 9999px, 41px, 0)
	}
	33.33333333333333% {
		clip: rect(80px, 9999px, 102px, 0)
	}
	37.5% {
		clip: rect(103px, 9999px, 99px, 0)
	}
	41.66666666666667% {
		clip: rect(107px, 9999px, 142px, 0)
	}
	45.83333333333333% {
		clip: rect(2px, 9999px, 116px, 0)
	}
	50% {
		clip: rect(93px, 9999px, 66px, 0)
	}
	54.166666666666664% {
		clip: rect(133px, 9999px, 11px, 0)
	}
	58.333333333333336% {
		clip: rect(71px, 9999px, 35px, 0)
	}
	62.5% {
		clip: rect(141px, 9999px, 87px, 0)
	}
	66.66666666666666% {
		clip: rect(135px, 9999px, 102px, 0)
	}
	70.83333333333334% {
		clip: rect(100px, 9999px, 3px, 0)
	}
	75% {
		clip: rect(76px, 9999px, 100px, 0)
	}
	79.16666666666666% {
		clip: rect(48px, 9999px, 146px, 0)
	}
	83.33333333333334% {
		clip: rect(75px, 9999px, 8px, 0)
	}
	87.5% {
		clip: rect(112px, 9999px, 149px, 0)
	}
	91.66666666666666% {
		clip: rect(50px, 9999px, 135px, 0)
	}
	95.83333333333334% {
		clip: rect(60px, 9999px, 90px, 0)
	}
	100% {
		clip: rect(147px, 9999px, 9px, 0)
	}
}

@keyframes glitch-anim {
	0% {
		clip: rect(46px, 9999px, 125px, 0)
	}
	4.166666666666666% {
		clip: rect(123px, 9999px, 21px, 0)
	}
	8.333333333333332% {
		clip: rect(50px, 9999px, 60px, 0)
	}
	12.5% {
		clip: rect(148px, 9999px, 9px, 0)
	}
	16.666666666666664% {
		clip: rect(55px, 9999px, 125px, 0)
	}
	20.833333333333336% {
		clip: rect(59px, 9999px, 118px, 0)
	}
	25% {
		clip: rect(3px, 9999px, 125px, 0)
	}
	29.166666666666668% {
		clip: rect(20px, 9999px, 41px, 0)
	}
	33.33333333333333% {
		clip: rect(80px, 9999px, 102px, 0)
	}
	37.5% {
		clip: rect(103px, 9999px, 99px, 0)
	}
	41.66666666666667% {
		clip: rect(107px, 9999px, 142px, 0)
	}
	45.83333333333333% {
		clip: rect(2px, 9999px, 116px, 0)
	}
	50% {
		clip: rect(93px, 9999px, 66px, 0)
	}
	54.166666666666664% {
		clip: rect(133px, 9999px, 11px, 0)
	}
	58.333333333333336% {
		clip: rect(71px, 9999px, 35px, 0)
	}
	62.5% {
		clip: rect(141px, 9999px, 87px, 0)
	}
	66.66666666666666% {
		clip: rect(135px, 9999px, 102px, 0)
	}
	70.83333333333334% {
		clip: rect(100px, 9999px, 3px, 0)
	}
	75% {
		clip: rect(76px, 9999px, 100px, 0)
	}
	79.16666666666666% {
		clip: rect(48px, 9999px, 146px, 0)
	}
	83.33333333333334% {
		clip: rect(75px, 9999px, 8px, 0)
	}
	87.5% {
		clip: rect(112px, 9999px, 149px, 0)
	}
	91.66666666666666% {
		clip: rect(50px, 9999px, 135px, 0)
	}
	95.83333333333334% {
		clip: rect(60px, 9999px, 90px, 0)
	}
	100% {
		clip: rect(147px, 9999px, 9px, 0)
	}
}

@-webkit-keyframes glitch-anim-2 {
	6.666666666666667% {
		clip: rect(90px, 9999px, 2px, 0)
	}
	10% {
		clip: rect(53px, 9999px, 114px, 0)
	}
	13.333333333333334% {
		clip: rect(118px, 9999px, 10px, 0)
	}
	16.666666666666664% {
		clip: rect(69px, 9999px, 98px, 0)
	}
	20% {
		clip: rect(91px, 9999px, 25px, 0)
	}
	23.333333333333332% {
		clip: rect(25px, 9999px, 141px, 0)
	}
	26.666666666666668% {
		clip: rect(109px, 9999px, 14px, 0)
	}
	30% {
		clip: rect(1px, 9999px, 149px, 0)
	}
	33.33333333333333% {
		clip: rect(34px, 9999px, 69px, 0)
	}
	36.666666666666664% {
		clip: rect(143px, 9999px, 67px, 0)
	}
	40% {
		clip: rect(128px, 9999px, 93px, 0)
	}
	43.333333333333336% {
		clip: rect(81px, 9999px, 23px, 0)
	}
	46.666666666666664% {
		clip: rect(113px, 9999px, 98px, 0)
	}
	50% {
		clip: rect(71px, 9999px, 108px, 0)
	}
	53.333333333333336% {
		clip: rect(36px, 9999px, 45px, 0)
	}
	56.666666666666664% {
		clip: rect(108px, 9999px, 70px, 0)
	}
	60% {
		clip: rect(54px, 9999px, 89px, 0)
	}
	63.33333333333333% {
		clip: rect(47px, 9999px, 97px, 0)
	}
	66.66666666666666% {
		clip: rect(140px, 9999px, 14px, 0)
	}
	70% {
		clip: rect(7px, 9999px, 100px, 0)
	}
	73.33333333333333% {
		clip: rect(24px, 9999px, 18px, 0)
	}
	76.66666666666667% {
		clip: rect(121px, 9999px, 33px, 0)
	}
	80% {
		clip: rect(116px, 9999px, 51px, 0)
	}
	83.33333333333334% {
		clip: rect(79px, 9999px, 6px, 0)
	}
	86.66666666666667% {
		clip: rect(51px, 9999px, 114px, 0)
	}
	90% {
		clip: rect(4px, 9999px, 68px, 0)
	}
	93.33333333333333% {
		clip: rect(66px, 9999px, 137px, 0)
	}
	96.66666666666667% {
		clip: rect(68px, 9999px, 130px, 0)
	}
	100% {
		clip: rect(13px, 9999px, 91px, 0)
	}
}

@keyframes glitch-anim-2 {
	6.666666666666667% {
		clip: rect(90px, 9999px, 2px, 0)
	}
	10% {
		clip: rect(53px, 9999px, 114px, 0)
	}
	13.333333333333334% {
		clip: rect(118px, 9999px, 10px, 0)
	}
	16.666666666666664% {
		clip: rect(69px, 9999px, 98px, 0)
	}
	20% {
		clip: rect(91px, 9999px, 25px, 0)
	}
	23.333333333333332% {
		clip: rect(25px, 9999px, 141px, 0)
	}
	26.666666666666668% {
		clip: rect(109px, 9999px, 14px, 0)
	}
	30% {
		clip: rect(1px, 9999px, 149px, 0)
	}
	33.33333333333333% {
		clip: rect(34px, 9999px, 69px, 0)
	}
	36.666666666666664% {
		clip: rect(143px, 9999px, 67px, 0)
	}
	40% {
		clip: rect(128px, 9999px, 93px, 0)
	}
	43.333333333333336% {
		clip: rect(81px, 9999px, 23px, 0)
	}
	46.666666666666664% {
		clip: rect(113px, 9999px, 98px, 0)
	}
	50% {
		clip: rect(71px, 9999px, 108px, 0)
	}
	53.333333333333336% {
		clip: rect(36px, 9999px, 45px, 0)
	}
	56.666666666666664% {
		clip: rect(108px, 9999px, 70px, 0)
	}
	60% {
		clip: rect(54px, 9999px, 89px, 0)
	}
	63.33333333333333% {
		clip: rect(47px, 9999px, 97px, 0)
	}
	66.66666666666666% {
		clip: rect(140px, 9999px, 14px, 0)
	}
	70% {
		clip: rect(7px, 9999px, 100px, 0)
	}
	73.33333333333333% {
		clip: rect(24px, 9999px, 18px, 0)
	}
	76.66666666666667% {
		clip: rect(121px, 9999px, 33px, 0)
	}
	80% {
		clip: rect(116px, 9999px, 51px, 0)
	}
	83.33333333333334% {
		clip: rect(79px, 9999px, 6px, 0)
	}
	86.66666666666667% {
		clip: rect(51px, 9999px, 114px, 0)
	}
	90% {
		clip: rect(4px, 9999px, 68px, 0)
	}
	93.33333333333333% {
		clip: rect(66px, 9999px, 137px, 0)
	}
	96.66666666666667% {
		clip: rect(68px, 9999px, 130px, 0)
	}
	100% {
		clip: rect(13px, 9999px, 91px, 0)
	}
}

// animation - fly rocket
.main__decoration{
    animation-name: floating;
    -webkit-animation-name: floating;
 
    animation-duration: 3s;   
    -webkit-animation-duration: 3s;
 
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}
 
@keyframes floating {
    0% {
        transform: translateY(0%);  
    }
    50% {
        transform: translateY(6%);  
    }   
    100% {
        transform: translateY(0%);
    }           
}
 
@-webkit-keyframes floating {
    0% {
        -webkit-transform: translateY(0%);  
    }
    50% {
        -webkit-transform: translateY(6%);  
    }   
    100% {
        -webkit-transform: translateY(0%);
    }           
}


// ##########################################################################
// media queries

@media (max-width: 1599.99px) {

    .main__decoration {
        max-width: 12%;
        position: absolute;
        left: -38px;
        top: 32%;
    }

}


@media (max-width: 1439.99px) {

    .main__decoration {
        max-width: 11%;
        position: absolute;
        left: -23px;
        top: -1%;
    }

    h1 {
        font-size: 44px;
        line-height: 120%;
        margin-bottom: 50px;
    }

}

@media (max-width: 1300px) {

    .main__decoration {
        display: none;
    }

}

@media (max-width: 1199.99px) {

    h1 {
        font-size: 40px;
        margin-bottom: 45px;
    }

    .main {
        padding-top: 65px;
        padding-bottom: 65px;
        position: relative;
        margin-bottom: 65px;
    }

    .main__btn {
        margin-top: 45px;
    }

    .btn-lg {
        padding: 22px 45px;
        font-size: 16px;
        line-height: 24px;
    }

    .main__img {
        max-width: 43%;
    }

}

@media (max-width: 990.99px) {

    .main {
        padding-top: 45px;
        padding-bottom: 55px;
        margin-bottom: 0;
    }

    h1 {
        font-size: 28px;
        margin-bottom: 30px;
    }

    .main__item p {
        font-size: 14px;
    }

    .main__item .icon {
        flex-shrink: 0;
        width: 16px;
        height: 16px;
        margin-right: 15px;
        img {
            width: 8px;
            margin-bottom: -2px;
        }
    }

    .main__item:not(:last-child) {
        margin-bottom: 13px;
    }

    .main__btn {
        margin-top: 30px;
    }

    .btn-lg {
        padding: 22px 34px;
        font-size: 14px;
        line-height: 16px;
    }

    .main__img {
        display: none;
    }

    .main__img--mob {
        margin-top: 35px;
        display: block;
        img {
            max-width: 100%;
            text-align: right;
        }
    }

}

@media (max-width: 420px) {

    h1 {
        font-size: 24px;
    }

}

@media (max-width: 344.99px) {

    h1 {
        font-size: 23px;
    }

}