main.main
    .main__decoration 
        img(src="./img/main-decoration.png", alt="") 
    .main__img
        img(src="./img/main-img.png", alt="") 
    .container
        .main__wrapper
            .main__content
                h1.main__title.glitch(data-text="FULLSTACK WORDPRESS")
                    | FULLSTACK WORDPRESS <br>DEVELOPER

                .main__desc
                    .main__item
                        .icon 
                            img(src="./img/icons/check.svg", alt="")
                        p Верстка сайтов и натяжка  на CMS Wordpress
                    .main__item
                        .icon 
                            img(src="./img/icons/check.svg", alt="")
                        p Разработка плагинов под CMS WordPress
                    .main__item
                        .icon 
                            img(src="./img/icons/check.svg", alt="")
                        p Разработка интернет-магазинов на Woocommerce
                        
                a.btn.btn-lg.main__btn(href="#portfolio") Посмотреть портфолио

            .main__img--mob
                img(src="./img/main-img-mob.png", alt="") 