section.reviews#reviews 
    .container 
        h2.section__title Отзывы и рекомендации

        .reviews__wrapper
            .row.reviews__slider
                each img in jsonData.reviews
                    .col-xl-3.col-lg-4.reviews__slider-item
                        .reviews__item
                            img(src=img, alt="")

            button.banner-arrow.banner-prev
                img(src="img/arrow.svg", alt="prev")
            button.banner-arrow.banner-next
                img(src="img/arrow.svg", alt="next")
