section.reviews#reviews 
    .container 
        h2.section__title Отзывы и рекомендации
        p.section__text Нажмите на картинку, чтобы увеличить отзыв

        .reviews__wrapper
            .row.reviews__slider
                each img in jsonData.reviews
                    .col-xl-4.col-lg-4.reviews__slider-item
                        .reviews__item
                            span.tab.reviews__label #{img.label}
                            a(href=img.fullImage, data-lightbox="image-1") 
                                img(src=img.mockup, alt="")


            button.banner-arrow.banner-prev
                img(src="img/arrow.svg", alt="prev")
            button.banner-arrow.banner-next
                img(src="img/arrow.svg", alt="next")
