mixin github-item(title, content, link)
    .github__item
        h4.github__item-title #{title}
        p.github__item-text  
            | #{content}
        a.btn-underline(href=link)
            span.text Смотреть код на github
            span.arrow
                img(src="./img/icons/github-btn-arrow.svg", alt="")