extends ./../layouts/main.pug

block content
    include ./../sections/header.pug

    include ./../sections/banner.pug
    include ./../sections/projects.pug
    include ./../sections/github-projects.pug
    include ./../sections/skills.pug
    include ./../sections/reviews.pug

    include ./../sections/footer.pug