// variables
// colors
$black: #2E2E2E;
$blue: #556BF3;
$violet: #806EF8;
$blue-light: rgba(85, 107, 243, 0.3);

// gradients
$blue-gradiend: linear-gradient(182.8deg, #7586F8 8.67%, #425BEF 97.93%);
$viloet-gradiend: linear-gradient(182.8deg, #B0A4FF 8.67%, #806EF8 97.93%);

// fonts

$bold-font: 'Stolzl Display';