// variables
// colors
$black: #2E2E2E;
$blue: #556BF3;
$violet: #806EF8;
$blue-light: rgba(85, 107, 243, 0.3);

// gradients
$blue-gradiend: linear-gradient(182.8deg, #7586F8 8.67%, #425BEF 97.93%);
$viloet-gradiend: linear-gradient(182.8deg, #B0A4FF 8.67%, #806EF8 97.93%);
 
// fonts 

$bold-font: 'Stolzl Display', sans-serif;

@mixin margin-top-section {
    margin-top: 155px;

    @media (max-width: 990.99px) {
        margin-top: 100px;
    }

    @media (max-width: 767.99px) {
        margin-top: 85px;
    }
}
// @include margin-top-section;

@mixin margin-top-wrapper {
    margin-top: 80px;

    @media (max-width: 990.99px) {
        margin-top: 60px;
    }

    @media (max-width: 767.99px) {
        margin-top: 40px;
    }
}

// @include margin-top-wrapper
